<%if(page.type !== 'API'){%>

<footer id="footer">
  <% if (theme.sidebar === 'bottom'){%>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
        <div class="left">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> and Theme by <a href="https://github.com/jaywcjlove/hexoThemeKacper">hexoThemeKacper </a>
        </div>
        <div class="right">
            <% for(a in config.social){%>
                <a href="<%=config.social[a]%>"><%=a%></a>
            <%}%>
        </div>
    </div>
    <% if (theme.footer_content){ %>
    <div id="footer-custom" class="inner">
      <%- theme.footer_content %>
    </div>
    <% } %>
    <% if (theme.busuanzi !== false){ %>
    <div id="footer-custom" class="inner" style="text-align: center; margin-top: 15px; padding-top: 15px; border-top: 1px solid rgba(255, 255, 255, 0.15);">
      <span id="busuanzi_container_site_pv" style="display: none; margin: 0 10px;">
        本站总访问量 <span id="busuanzi_value_site_pv"></span> 次
      </span>
      <span id="busuanzi_container_site_uv" style="display: none; margin: 0 10px;">
        本站访客数 <span id="busuanzi_value_site_uv"></span> 人
      </span>
      <span id="busuanzi_container_page_pv" style="display: none; margin: 0 10px;">
        本文阅读量 <span id="busuanzi_value_page_pv"></span> 次
      </span>
    </div>
    <script src="//cdn.busuanzi.cc/busuanzi/3.6.9/busuanzi.min.js" defer></script>
    <% } %>
  </div>
</footer>
<script src="//cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>

<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% }else{%>
<script type="text/javascript">
$(function(){
  var $img = $('.article-entry img'),
      $link = $img.css({
        "display":"inline-block"
      }).parent()

  if($link.parent().is("a")){
      $img.each(function(idx,item) {
      $(this).parent().attr('href',$(this).parent().parent().attr('href'))
    })
  }
})
</script>
<%} %>

<%- js('js/script') %>
<%}%>
